<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <link href="/public/css/dashboard.rtl.css" rel="stylesheet">
  </head>
  <body>

<%- include('header.ejs') %>
<div class="container-fluid">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <p class="card-text">Ver, Agregar, Editar y Eliminar </p>
            <a href="/productos" class="btn btn-primary">Ir a la P치gina</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categorias</h5>
            <p class="card-text">Ver, Agregar, Editar y Eliminar</p>
            <a href="/categorias" class="btn btn-primary">Ir a la P치gina</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Compras</h5>
            <p class="card-text">Ver, Agregar, Editar y Eliminar</p>
            <a href="#" class="btn btn-primary">Ir a la P치gina</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Favoritos</h5>
            <p class="card-text">Ver, Agregar, Editar y Eliminar</p>
            <a href="#" class="btn btn-primary">Ir a la P치gina</a>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include('sidebar.ejs', {activo: "dashboard"} ) %>
</body>
<script src="/public/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
