<!doctype html>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/dashboard"><img src="/public/media/Genius Marketing3.svg" alt="Genius Marketing" width="30rem"> Genius Marketing</a>
    <button class="navbar-toggler position-absolute d-md-none d-block" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <button class="ntn btn btn-secondary mb">
        <a class="nav-link px-3" href="/">INICIO</a>
        </button>
      </div>
    </div>
</header>