<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/index.css" rel="stylesheet">
  </head>
  <body>
    
<header class="site-header sticky-top py-1 bg-dark ">
  <nav class="container d-flex flex-column flex-md-row justify-content-between " >
    <a class="py-2" href="#" aria-label="Product">
      <img src="/public/media/Genius Marketing3.svg" alt="Genius Marketing" width="30rem">
    </a>
    <a class="py-2 d-none d-md-inline-block text-light bg-dark text-decoration-none texto" href="/productos">Productos</a>
    <a class="py-2 d-none d-md-inline-block text-light bg-dark text-decoration-none texto" href="/categorias">Categorias</a>
    <a class="py-2 d-none d-md-inline-block text-light bg-dark text-decoration-none texto" href="#">Compras</a>
    <a class="py-2 d-none d-md-inline-block text-light bg-dark text-decoration-none texto" href="#">Favoritos</a>
  </nav>
</header>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white rounded-pill">
    <div class="col-md-5 p-lg-5 mx-auto my-5 " >
      <h1 class="display-4 fw-normal" >Genius Marketing</h1>
      <p class="lead fw-normal"></p>
      <a class="btn btn btn-outline-light" href="/dashboard">Dashboard</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  
</main>

<footer class="py-5 bg-dark rounded-top text-white">
  <div class="row" style="margin-left: 0.5rem;  ">
    <div class="col-12 col-md">
      <div class="logo">
        <img src="/public/media/Genius Marketing3.svg" alt="Genius Marketing" width="70rem">
      </div>
      <small class="d-block mb-3 text-muted">&copy; 850bc–2024</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Equipo</a></li>
        <li><a class="link-secondary" href="#">Localización</a></li>
        <li><a class="link-secondary" href="#">Politicas de Privacidad</a></li>
        <li><a class="link-secondary" href="#">Términos y Condiciones</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Enlaces</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Discord</a></li>
        <li><a class="link-secondary" href="#">Facebook</a></li>
        <li><a class="link-secondary" href="#">Instagram</a></li>
        <li><a class="link-secondary" href="#">Youtube</a></li>
      </ul>
    </div>
    <h5>Autor</h5>
    <p>Tony Moreno</p>
</footer>
<script src="/public/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
